# Introduction

This workout comes from [2023 Week 16 | Power BI: Measure Format Strings and Conditionally Formatted Titles](https://workout-wednesday.com/pbi-2023-w16/), the main focus of which is a dashboard allowing the user to choose the number of top products to be included in the report and the metric to be used in the report visuals.

In [1]:
import pandas as pd

In [2]:
file_path = '../data/Dataset-Customer Profitability.xlsx'
data = pd.read_excel(file_path, sheet_name=None)
data.keys()

dict_keys(['state', 'executive', 'industry', 'customer', 'product', 'scenario', 'date', 'bu', 'factsales'])

In [52]:
top_num = 5
metrics = {
    'product': '# of Customers', 
}

data_customer = data['factsales'].merge(
    data['product'], on='Product Key', how='left')
data_customer.groupby('Product', dropna=False).nunique().sort_values(by='Customer Key', ascending=False)

,YearPeriod,Customer Key,Product Key,BU Key,Scenario Key,Revenue,Material Costs,Labor Costs Variable,Taxes,Rev for Exp Travel,Travel Expenses,Cost Third Party,Subscription Revenue
Product,,,,,,,,,,,,,
Primus,16,32,1,4,2,6025,1,536,1,2690,2738,2684,1
MI-72,6,17,1,2,2,410,1,214,1,23,21,1,1
NaN,16,16,1,13,2,1721,1,733,3,187,208,502,9
Gladius,16,14,1,2,2,2244,1,610,1,1160,1151,705,1
Sova,16,10,1,4,2,209,5,185,3,47,45,31,1
Doroga,8,7,1,1,2,319,1,10,1,147,135,142,1
Gunner,8,3,1,4,2,7,1,1,1,1,1,1,1

In [58]:
data_customer.groupby('Product', dropna=False).sum().sort_values(by='Revenue', ascending=False)

,YearPeriod,Customer Key,Product Key,BU Key,Scenario Key,Revenue,Material Costs,Labor Costs Variable,Taxes,Rev for Exp Travel,Travel Expenses,Cost Third Party,Subscription Revenue,COGS
Product,,,,,,,,,,,,,,
Primus,5548753490,275880400,551020,1229829,40261,1.208542e+08,0.00,7334396.19,0,8526994.77,6217627.23,51619111.57,0.0,73698129.76
Gladius,1981735161,98614531,393600,144987,14374,5.909644e+07,0.00,10554049.96,0,5066073.52,4545875.09,17384152.40,0.0,37550150.97
NaN,1324598312,66122252,328850,440259,9634,3.861561e+07,0.00,7232198.47,31680,3370629.98,2641850.81,6402803.50,1003590.5,19679162.76
Sova,179443603,8963366,8910,43398,1305,8.511302e+06,83950.94,3013747.20,64630,263674.94,271572.81,428880.94,0.0,4126456.83
Doroga,208984054,10386706,31140,50862,1501,7.362616e+06,0.00,208723.28,0,444634.87,407080.24,4394919.66,0.0,5455358.05
MI-72,192546452,968681,76480,148996,1403,6.905502e+05,0.00,532525.85,0,2037.15,2037.22,0.00,0.0,536600.22
Gunner,159715983,826325,65026,81778,1156,7.830000e+04,0.00,0.00,0,0.00,0.00,0.00,0.0,0.00

In [59]:
data_customer['COGS'] = data_customer.iloc[:,range(6, 12)].sum(axis=1)
data_customer.groupby('Product', dropna=False).sum().sort_values(by='COGS', ascending=False)

,YearPeriod,Customer Key,Product Key,BU Key,Scenario Key,Revenue,Material Costs,Labor Costs Variable,Taxes,Rev for Exp Travel,Travel Expenses,Cost Third Party,Subscription Revenue,COGS
Product,,,,,,,,,,,,,,
Primus,5548753490,275880400,551020,1229829,40261,1.208542e+08,0.00,7334396.19,0,8526994.77,6217627.23,51619111.57,0.0,73698129.76
Gladius,1981735161,98614531,393600,144987,14374,5.909644e+07,0.00,10554049.96,0,5066073.52,4545875.09,17384152.40,0.0,37550150.97
NaN,1324598312,66122252,328850,440259,9634,3.861561e+07,0.00,7232198.47,31680,3370629.98,2641850.81,6402803.50,1003590.5,19679162.76
Doroga,208984054,10386706,31140,50862,1501,7.362616e+06,0.00,208723.28,0,444634.87,407080.24,4394919.66,0.0,5455358.05
Sova,179443603,8963366,8910,43398,1305,8.511302e+06,83950.94,3013747.20,64630,263674.94,271572.81,428880.94,0.0,4126456.83
MI-72,192546452,968681,76480,148996,1403,6.905502e+05,0.00,532525.85,0,2037.15,2037.22,0.00,0.0,536600.22
Gunner,159715983,826325,65026,81778,1156,7.830000e+04,0.00,0.00,0,0.00,0.00,0.00,0.0,0.00

In [42]:
data_revenue['Gross Margin'] = data_revenue['Revenue'] - data_revenue['COGS']
data_revenue.sort_values(by='Gross Margin', ascending=False)

,YearPeriod,Customer Key,BU Key,Scenario Key,Revenue,Material Costs,Labor Costs Variable,Taxes,Rev for Exp Travel,Travel Expenses,Cost Third Party,Subscription Revenue,Product Key,Product,COGS,Gross Margin
1.0,5548753490,275880400,1229829,40261,1.208542e+08,0.00,7334396.19,0,8526994.77,6217627.23,51619111.57,0.0,20,Primus,73698129.76,4.715605e+07
3.0,1981735161,98614531,144987,14374,5.909644e+07,0.00,10554049.96,0,5066073.52,4545875.09,17384152.40,0.0,40,Gladius,37550150.97,2.154628e+07
NaN,1324598312,66122252,440259,9634,3.861561e+07,0.00,7232198.47,31680,3370629.98,2641850.81,6402803.50,1003590.5,50,NaN,19679162.76,1.893645e+07
0.0,179443603,8963366,43398,1305,8.511302e+06,83950.94,3013747.20,64630,263674.94,271572.81,428880.94,0.0,10,Sova,4126456.83,4.384845e+06
2.0,208984054,10386706,50862,1501,7.362616e+06,0.00,208723.28,0,444634.87,407080.24,4394919.66,0.0,30,Doroga,5455358.05,1.907258e+06
4.0,192546452,968681,148996,1403,6.905502e+05,0.00,532525.85,0,2037.15,2037.22,0.00,0.0,80,MI-72,536600.22,1.539500e+05
5.0,159715983,826325,81778,1156,7.830000e+04,0.00,0.00,0,0.00,0.00,0.00,0.0,82,Gunner,0.00,7.830000e+04

In [44]:
data_revenue['Gross Margin %'] = data_revenue['Gross Margin'] / data_revenue['Revenue']
data_revenue.sort_values(by='Gross Margin %', ascending=False)

,YearPeriod,Customer Key,BU Key,Scenario Key,Revenue,Material Costs,Labor Costs Variable,Taxes,Rev for Exp Travel,Travel Expenses,Cost Third Party,Subscription Revenue,Product Key,Product,COGS,Gross Margin,Gross Margin %
5.0,159715983,826325,81778,1156,7.830000e+04,0.00,0.00,0,0.00,0.00,0.00,0.0,82,Gunner,0.00,7.830000e+04,1.000000
0.0,179443603,8963366,43398,1305,8.511302e+06,83950.94,3013747.20,64630,263674.94,271572.81,428880.94,0.0,10,Sova,4126456.83,4.384845e+06,0.515179
NaN,1324598312,66122252,440259,9634,3.861561e+07,0.00,7232198.47,31680,3370629.98,2641850.81,6402803.50,1003590.5,50,NaN,19679162.76,1.893645e+07,0.490383
1.0,5548753490,275880400,1229829,40261,1.208542e+08,0.00,7334396.19,0,8526994.77,6217627.23,51619111.57,0.0,20,Primus,73698129.76,4.715605e+07,0.390190
3.0,1981735161,98614531,144987,14374,5.909644e+07,0.00,10554049.96,0,5066073.52,4545875.09,17384152.40,0.0,40,Gladius,37550150.97,2.154628e+07,0.364595
2.0,208984054,10386706,50862,1501,7.362616e+06,0.00,208723.28,0,444634.87,407080.24,4394919.66,0.0,30,Doroga,5455358.05,1.907258e+06,0.259046
4.0,192546452,968681,148996,1403,6.905502e+05,0.00,532525.85,0,2037.15,2037.22,0.00,0.0,80,MI-72,536600.22,1.539500e+05,0.222938